@model FeedbackUtility.UtilityModel.LoginViewModel

@{
    Layout = "_Login_Layout";
    ViewData["Title"] = "Login Page";
}
<div class="col-md-6 contents">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <h3>Sign In</h3>
                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group first">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger txtmsg"></span>
                </div>
                <div class="form-group last mb-4">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger txtmsg"></span>
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0">
                        <span class="caption">Remember me</span>
                        <input type="checkbox" name="remember" checked="checked" />
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password?</a></span>
                <br /><br />
                <input type="submit" style="width:100%;background-color:#6c63ff;" value="Log In" class="btn btn-block btn-primary" />
                <div>
                    <p style="color:red;">@ViewBag.Msg</p>
                </div>
                <br/>
                <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                <div class="social-login">
                    <a href="#" class="facebook">
                        <span class="icon-facebook mr-3"></span>
                    </a>
                    <a href="#" class="twitter">
                        <span class="icon-twitter mr-3"></span>
                    </a>
                    <a href="#" class="google">
                        <span class="icon-google mr-3"></span>
                    </a>
                </div>               
            </form>
        </div>
    </div>
</div>

