@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <h3 style="color:orange;">Access Denied</h3>
    <h2>Error in authentication or authorization process</h2>
</body>
</html>

